/* HOME SECTION */
#home{
    background-color: #231942;
    background: url(images/background.jpg);
    background-size: cover;
    color: white;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content{
    max-wight : 100%
    Display: flex;
    Justifay-content:center;
    Flex-wrap:wrap;
}

nav{
    background-color: #484553ac;
    height: 50px;
    width: 100%;
    margin: -0.5% 0px 0px 1px;
    padding: 0.2% 0% 1.5% 0%;
}
.head{
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    font-size: 20px;
    color: white;
    margin-top: 1px;
    padding: 1%;
}
#head:hover{
    border: 1px solid white;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: white;
}
#fhead{
    margin-left: 30%;
}
#main{
    width: 500px;
    margin: 12%;
}
#btn1{
    margin: auto;
    margin-left: 30%;
    background-color: rgba(255, 255, 255, 0);
    color: #484553ac;
    border: 1px solid #484553ac;
    border-radius: 5px;
    padding: 3%;
}
#btn1:hover{
    border: 1px solid white;
}
.btn1{
    color: #484553ac; 
}
.btn1:hover{
    color: white;
}
/* HOME SECTION */

/* ABOUT SECTION */
#about{
    background-color: #231942;
    color: white;
}
#btn2{
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 5px;
    padding: 1%;
}
.btn2{
    color: white; 
}
	  

/* ABOUT SECTION */
.footer {
    background-color: black;
    text-align: center;
    font-size: 100%;
    width: 100%;
    position: bottom;
    color: aliceblue;
    margin: 0px;
    padding: 0px;

}
